<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_d4wN4DtxEee2dJCkaKsgEw" specification="interface:&#xA;in event ToComposite&#xA;in event InnerState1To2&#xA;in event FromComposite&#xA;in event Reset" name="Hierarchy" domainID="com.yakindu.domain.c">
    <regions xmi:id="_d41GYDtxEee2dJCkaKsgEw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_d5ChwTtxEee2dJCkaKsgEw">
        <outgoingTransitions xmi:id="_d5J2gTtxEee2dJCkaKsgEw" target="_d5E-BDtxEee2dJCkaKsgEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_d5E-BDtxEee2dJCkaKsgEw" name="StateA" incomingTransitions="_d5J2gTtxEee2dJCkaKsgEw">
        <outgoingTransitions xmi:id="_k8CDYDtxEee2dJCkaKsgEw" specification="ToComposite" target="_hd_PMDtxEee2dJCkaKsgEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hd_PMDtxEee2dJCkaKsgEw" name="CompositeA" incomingTransitions="_k8CDYDtxEee2dJCkaKsgEw">
        <outgoingTransitions xmi:id="_iTHD4DtyEee2dJCkaKsgEw" specification="FromComposite" target="_fx9VwDtyEee2dJCkaKsgEw"/>
        <regions xmi:id="_heEuwDtxEee2dJCkaKsgEw" name="CompositeRegion">
          <vertices xsi:type="sgraph:Entry" xmi:id="_03tc8DtxEee2dJCkaKsgEw">
            <outgoingTransitions xmi:id="_hoAG4D0eEeezT6DJfC1Xng" specification="" target="_g0JBAD0eEeezT6DJfC1Xng"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_SuCzgDtyEee2dJCkaKsgEw" name="InnerState2" incomingTransitions="_bIV4rD0aEeezT6DJfC1Xng"/>
          <vertices xsi:type="sgraph:State" xmi:id="_g0JBAD0eEeezT6DJfC1Xng" name="InnerState1" incomingTransitions="_hoAG4D0eEeezT6DJfC1Xng">
            <outgoingTransitions xmi:id="_bIV4rD0aEeezT6DJfC1Xng" specification="InnerState1To2" target="_SuCzgDtyEee2dJCkaKsgEw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fx9VwDtyEee2dJCkaKsgEw" name="StateB" incomingTransitions="_iTHD4DtyEee2dJCkaKsgEw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_d40fUDtxEee2dJCkaKsgEw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_d4wN4DtxEee2dJCkaKsgEw" measurementUnit="Pixel">
    <children xmi:id="_d46l8DtxEee2dJCkaKsgEw" type="Region" element="_d41GYDtxEee2dJCkaKsgEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_d5AFgDtxEee2dJCkaKsgEw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d5AFgTtxEee2dJCkaKsgEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d5AFgjtxEee2dJCkaKsgEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_d5AskDtxEee2dJCkaKsgEw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_d5DI0DtxEee2dJCkaKsgEw" type="Entry" element="_d5ChwTtxEee2dJCkaKsgEw">
          <children xmi:id="_d5EW8DtxEee2dJCkaKsgEw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_d5E-ADtxEee2dJCkaKsgEw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_d5E-ATtxEee2dJCkaKsgEw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_d5E-AjtxEee2dJCkaKsgEw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d5EW8TtxEee2dJCkaKsgEw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5EW8jtxEee2dJCkaKsgEw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d5DI0TtxEee2dJCkaKsgEw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_d5DI0jtxEee2dJCkaKsgEw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5E-AztxEee2dJCkaKsgEw" x="264" width="15" height="15"/>
        </children>
        <children xmi:id="_d5GzMDtxEee2dJCkaKsgEw" type="State" element="_d5E-BDtxEee2dJCkaKsgEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_d5IBUDtxEee2dJCkaKsgEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d5IBUTtxEee2dJCkaKsgEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_d5IBUjtxEee2dJCkaKsgEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d5IoYDtxEee2dJCkaKsgEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_d5IoYTtxEee2dJCkaKsgEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5IoYjtxEee2dJCkaKsgEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_d5JPcDtxEee2dJCkaKsgEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d5GzMTtxEee2dJCkaKsgEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_d5GzMjtxEee2dJCkaKsgEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_d5JPcTtxEee2dJCkaKsgEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5J2gDtxEee2dJCkaKsgEw" x="245" y="47" width="59" height="53"/>
        </children>
        <children xmi:id="_heHyEDtxEee2dJCkaKsgEw" type="State" element="_hd_PMDtxEee2dJCkaKsgEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_heIZIDtxEee2dJCkaKsgEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_heIZITtxEee2dJCkaKsgEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_heIZIjtxEee2dJCkaKsgEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_heIZIztxEee2dJCkaKsgEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_heJAMDtxEee2dJCkaKsgEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_heJAMTtxEee2dJCkaKsgEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_heJAMjtxEee2dJCkaKsgEw" type="StateFigureCompartment">
            <children xmi:id="_gO-bQD0aEeezT6DJfC1Xng" type="Region" element="_heEuwDtxEee2dJCkaKsgEw">
              <children xsi:type="notation:DecorationNode" xmi:id="_gO-bQT0aEeezT6DJfC1Xng" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bQj0aEeezT6DJfC1Xng"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_gO-bQz0aEeezT6DJfC1Xng"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_gO-bRD0aEeezT6DJfC1Xng" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_gO-bRT0aEeezT6DJfC1Xng" type="Entry" element="_03tc8DtxEee2dJCkaKsgEw">
                  <children xmi:id="_gO-bRj0aEeezT6DJfC1Xng" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_gO-bRz0aEeezT6DJfC1Xng" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bSD0aEeezT6DJfC1Xng"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_gO-bST0aEeezT6DJfC1Xng"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bSj0aEeezT6DJfC1Xng" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gO-bSz0aEeezT6DJfC1Xng"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bTD0aEeezT6DJfC1Xng" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_gO-bTT0aEeezT6DJfC1Xng" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gO-bTj0aEeezT6DJfC1Xng" y="47" width="15" height="15"/>
                </children>
                <children xmi:id="_gO-bTz0aEeezT6DJfC1Xng" type="State" element="_SuCzgDtyEee2dJCkaKsgEw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gO-bUD0aEeezT6DJfC1Xng" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bUT0aEeezT6DJfC1Xng"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gO-bUj0aEeezT6DJfC1Xng"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gO-bUz0aEeezT6DJfC1Xng" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gO-bVD0aEeezT6DJfC1Xng" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gO-bVT0aEeezT6DJfC1Xng"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gO-bVj0aEeezT6DJfC1Xng" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bVz0aEeezT6DJfC1Xng" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gO-bWD0aEeezT6DJfC1Xng"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gO-bWT0aEeezT6DJfC1Xng" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gO-bWj0aEeezT6DJfC1Xng" x="319" y="37" width="94" height="53"/>
                </children>
                <children xmi:id="_g0JBAz0eEeezT6DJfC1Xng" type="State" element="_g0JBAD0eEeezT6DJfC1Xng">
                  <children xsi:type="notation:DecorationNode" xmi:id="_g0JBBz0eEeezT6DJfC1Xng" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_g0JBCD0eEeezT6DJfC1Xng"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_g0JBCT0eEeezT6DJfC1Xng"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_g0JBCj0eEeezT6DJfC1Xng" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_g0JBCz0eEeezT6DJfC1Xng" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g0JBDD0eEeezT6DJfC1Xng"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_g0JBDT0eEeezT6DJfC1Xng" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_g0JBBD0eEeezT6DJfC1Xng" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_g0JBBT0eEeezT6DJfC1Xng"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_g0JBDj0eEeezT6DJfC1Xng" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g0JBBj0eEeezT6DJfC1Xng" x="69" y="31"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gO-bbz0aEeezT6DJfC1Xng"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_gO-bcD0aEeezT6DJfC1Xng" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gO-bcT0aEeezT6DJfC1Xng"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_heHyETtxEee2dJCkaKsgEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_heHyEjtxEee2dJCkaKsgEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_heJAMztxEee2dJCkaKsgEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_heHyEztxEee2dJCkaKsgEw" x="49" y="135" width="559" height="277"/>
        </children>
        <children xmi:id="_fyBAIDtyEee2dJCkaKsgEw" type="State" element="_fx9VwDtyEee2dJCkaKsgEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_fyBAJDtyEee2dJCkaKsgEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fyBAJTtyEee2dJCkaKsgEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fyBAJjtyEee2dJCkaKsgEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fyBAJztyEee2dJCkaKsgEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fyBnMDtyEee2dJCkaKsgEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fyBnMTtyEee2dJCkaKsgEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fyBnMjtyEee2dJCkaKsgEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fyBAITtyEee2dJCkaKsgEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fyBAIjtyEee2dJCkaKsgEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fyBnMztyEee2dJCkaKsgEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fyBAIztyEee2dJCkaKsgEw" x="269" y="531" width="59" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5AskTtxEee2dJCkaKsgEw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_d46l8TtxEee2dJCkaKsgEw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5ChwDtxEee2dJCkaKsgEw" x="220" y="10" width="743" height="623"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_d5OvADtxEee2dJCkaKsgEw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_d5PWEDtxEee2dJCkaKsgEw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d5PWETtxEee2dJCkaKsgEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d5PWEjtxEee2dJCkaKsgEw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_d5P9IDtxEee2dJCkaKsgEw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5P9ITtxEee2dJCkaKsgEw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d5QkMDtxEee2dJCkaKsgEw" x="10" y="10" width="200" height="501"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_d40fUTtxEee2dJCkaKsgEw"/>
    <edges xmi:id="_d5M50DtxEee2dJCkaKsgEw" type="Transition" element="_d5J2gTtxEee2dJCkaKsgEw" source="_d5DI0DtxEee2dJCkaKsgEw" target="_d5GzMDtxEee2dJCkaKsgEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_d5OH8DtxEee2dJCkaKsgEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d5OH8TtxEee2dJCkaKsgEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d5OH8jtxEee2dJCkaKsgEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_d5M50TtxEee2dJCkaKsgEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_d5Ng4DtxEee2dJCkaKsgEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_d5M50jtxEee2dJCkaKsgEw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_k8FGsDtxEee2dJCkaKsgEw" type="Transition" element="_k8CDYDtxEee2dJCkaKsgEw" source="_d5GzMDtxEee2dJCkaKsgEw" target="_heHyEDtxEee2dJCkaKsgEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_k8FtwTtxEee2dJCkaKsgEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_k8FtwjtxEee2dJCkaKsgEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_k8FtwztxEee2dJCkaKsgEw" x="1" y="-48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_k8FGsTtxEee2dJCkaKsgEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_k8FtwDtxEee2dJCkaKsgEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_k8FGsjtxEee2dJCkaKsgEw" points="[33, 19, 229, -101]$[33, 46, 229, -74]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_k8JYIDtxEee2dJCkaKsgEw" id="(0.0,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_k8JYITtxEee2dJCkaKsgEw" id="(0.0,0.4728682170542636)"/>
    </edges>
    <edges xmi:id="_bIV4oz0aEeezT6DJfC1Xng" type="Transition" element="_bIV4rD0aEeezT6DJfC1Xng" source="_g0JBAz0eEeezT6DJfC1Xng" target="_gO-bTz0aEeezT6DJfC1Xng">
      <children xsi:type="notation:DecorationNode" xmi:id="_bIV4qT0aEeezT6DJfC1Xng" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bIV4qz0aEeezT6DJfC1Xng"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bIV4qj0aEeezT6DJfC1Xng" x="8" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bIV4qD0aEeezT6DJfC1Xng" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bIV4pz0aEeezT6DJfC1Xng" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bIV4pj0aEeezT6DJfC1Xng" points="[26, 25, -126, -3]$[140, 25, -12, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bIV4pD0aEeezT6DJfC1Xng" id="(0.13829787234042554,0.3584905660377358)"/>
    </edges>
    <edges xmi:id="_iTISADtyEee2dJCkaKsgEw" type="Transition" element="_iTHD4DtyEee2dJCkaKsgEw" source="_heHyEDtxEee2dJCkaKsgEw" target="_fyBAIDtyEee2dJCkaKsgEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iTI5EDtyEee2dJCkaKsgEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iTI5ETtyEee2dJCkaKsgEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iTI5EjtyEee2dJCkaKsgEw" x="-1" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iTISATtyEee2dJCkaKsgEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iTISAztyEee2dJCkaKsgEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iTISAjtyEee2dJCkaKsgEw" points="[183, 272, -5, -134]$[183, 396, -5, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iTKuQDtyEee2dJCkaKsgEw" id="(0.11192214111922141,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iTKuQTtyEee2dJCkaKsgEw" id="(0.559322033898305,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_hoAG4T0eEeezT6DJfC1Xng" type="Transition" element="_hoAG4D0eEeezT6DJfC1Xng" source="_gO-bRT0aEeezT6DJfC1Xng" target="_g0JBAz0eEeezT6DJfC1Xng">
      <children xsi:type="notation:DecorationNode" xmi:id="_hoAG5T0eEeezT6DJfC1Xng" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hoAG5j0eEeezT6DJfC1Xng"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hoAG5z0eEeezT6DJfC1Xng" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hoAG4j0eEeezT6DJfC1Xng" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hoAG5D0eEeezT6DJfC1Xng" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hoAG4z0eEeezT6DJfC1Xng" points="[7, 0, -68, -1]$[76, 25, 1, 24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hoAG6D0eEeezT6DJfC1Xng" id="(0.14893617021276595,0.5094339622641509)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
