<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_n2A34Bc4EeeAqZ-GpVD0AQ" specification="interface Player:&#xD;&#xA;  in event start&#xD;&#xA;  in event close&#xD;&#xA;  in event play&#xD;&#xA;  in event pause&#xD;&#xA;  in event enterPin&#xD;&#xA;  in event seek&#xD;&#xA;  in event acceptSugestion&#xD;&#xA;  var time : integer&#xD;&#xA;  var allowedAge: integer = 0&#xD;&#xA;  var pinResponse: integer&#xD;&#xA;  operation showPinDialog():void&#xD;&#xA;  operation closePinDialog():void&#xA;interface Movie:&#xD;&#xA;  var duration: integer = 30&#xD;&#xA;  var ageRating: integer = 12&#xD;&#xA;interface NextMovie:&#xD;&#xA;  var duration: integer = 60&#xD;&#xA;  var ageRating: integer = 18&#xA;interface User:&#xD;&#xA;  var parentalPin: integer = 1234&#xA;  var seekTime: integer = 20" name="VideoPlayer">
    <regions xmi:id="_n2Ko4hc4EeeAqZ-GpVD0AQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_n2dj0Rc4EeeAqZ-GpVD0AQ">
        <outgoingTransitions xmi:id="_n2dj7Rc4EeeAqZ-GpVD0AQ" target="_ioHXMBdaEeeAqZ-GpVD0AQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ZWL40BdaEeeAqZ-GpVD0AQ" name="Opened" incomingTransitions="_ak__4BdbEeeAqZ-GpVD0AQ _kDV-ABgpEee24vnz-7pKpw">
        <outgoingTransitions xmi:id="_nmJXcBdaEeeAqZ-GpVD0AQ" specification="Player.close" target="_ioHXMBdaEeeAqZ-GpVD0AQ"/>
        <regions xmi:id="_ZWMf4RdaEeeAqZ-GpVD0AQ" name="inner region">
          <vertices xsi:type="sgraph:State" xmi:id="_n2dj3Rc4EeeAqZ-GpVD0AQ" name="CheckingPin" incomingTransitions="_JXz7IBdbEeeAqZ-GpVD0AQ">
            <outgoingTransitions xmi:id="_7AKYkBc4EeeAqZ-GpVD0AQ" specification="[Movie.ageRating > Player.allowedAge] /&#xD;&#xA;Player.showPinDialog()" target="_UgcnABdcEeeAqZ-GpVD0AQ"/>
            <outgoingTransitions xmi:id="_HsU0ABf7Eeee98OWuv3Xvw" specification="[Movie.ageRating &lt;= Player.allowedAge]" target="_JMhJsBgiEeee98OWuv3Xvw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_E_yyABdbEeeAqZ-GpVD0AQ">
            <outgoingTransitions xmi:id="_JXz7IBdbEeeAqZ-GpVD0AQ" target="_n2dj3Rc4EeeAqZ-GpVD0AQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_UgcnABdcEeeAqZ-GpVD0AQ" name="AskingPin" incomingTransitions="_7AKYkBc4EeeAqZ-GpVD0AQ">
            <outgoingTransitions xmi:id="__xjgoBdcEeeAqZ-GpVD0AQ" specification="Player.enterPin&#xD;&#xA;[Player.pinResponse == User.parentalPin] / &#xD;&#xA;Player.closePinDialog()" target="_JMhJsBgiEeee98OWuv3Xvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_-Z23MBgHEeee98OWuv3Xvw" name="SugestingNext" incomingTransitions="_Bc9b0BgIEeee98OWuv3Xvw">
            <outgoingTransitions xmi:id="_kDV-ABgpEee24vnz-7pKpw" specification="Player.acceptSugestion /&#xD;&#xA;Movie.duration = NextMovie.duration;&#xD;&#xA;Movie.ageRating = NextMovie.ageRating" target="_ZWL40BdaEeeAqZ-GpVD0AQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_JMhJsBgiEeee98OWuv3Xvw" name="Seekable" incomingTransitions="__xjgoBdcEeeAqZ-GpVD0AQ _HsU0ABf7Eeee98OWuv3Xvw">
            <outgoingTransitions xmi:id="_Bcu-EBgjEeee98OWuv3Xvw" specification="Player.seek" target="_-Q7JYBgiEeee98OWuv3Xvw"/>
            <regions xmi:id="_JMhwwBgiEeee98OWuv3Xvw" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_yN2OYBc4EeeAqZ-GpVD0AQ" specification="every 1 s / Player.time += 1&#xD;&#xA; " name="Playing" incomingTransitions="_cO2PYBdXEeeAqZ-GpVD0AQ _0ivz4BgiEeee98OWuv3Xvw">
                <outgoingTransitions xmi:id="_P0DGIBdYEeeAqZ-GpVD0AQ" specification="Player.pause" target="_gDvY8Bc5EeeAqZ-GpVD0AQ"/>
                <outgoingTransitions xmi:id="_Bc9b0BgIEeee98OWuv3Xvw" specification="[Player.time >= Movie.duration]" target="_-Z23MBgHEeee98OWuv3Xvw"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_gDvY8Bc5EeeAqZ-GpVD0AQ" name="Paused" incomingTransitions="_P0DGIBdYEeeAqZ-GpVD0AQ">
                <outgoingTransitions xmi:id="_cO2PYBdXEeeAqZ-GpVD0AQ" specification="Player.play" target="_yN2OYBc4EeeAqZ-GpVD0AQ"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_okerEBgiEeee98OWuv3Xvw" name="PlayPauseHistory" incomingTransitions="_DxbkkBgjEeee98OWuv3Xvw" kind="SHALLOW_HISTORY"/>
              <vertices xsi:type="sgraph:Entry" xmi:id="_zufFYBgiEeee98OWuv3Xvw">
                <outgoingTransitions xmi:id="_0ivz4BgiEeee98OWuv3Xvw" specification="" target="_yN2OYBc4EeeAqZ-GpVD0AQ"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_-Q7JYBgiEeee98OWuv3Xvw" specification="entry /&#xD;&#xA;Player.time = User.seekTime" name="Seeking" incomingTransitions="_Bcu-EBgjEeee98OWuv3Xvw">
            <outgoingTransitions xmi:id="_DxbkkBgjEeee98OWuv3Xvw" specification="always" target="_okerEBgiEeee98OWuv3Xvw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ioHXMBdaEeeAqZ-GpVD0AQ" name="Closed" incomingTransitions="_nmJXcBdaEeeAqZ-GpVD0AQ _n2dj7Rc4EeeAqZ-GpVD0AQ">
        <outgoingTransitions xmi:id="_ak__4BdbEeeAqZ-GpVD0AQ" specification="Player.start" target="_ZWL40BdaEeeAqZ-GpVD0AQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_n2Ko4Bc4EeeAqZ-GpVD0AQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_n2A34Bc4EeeAqZ-GpVD0AQ" measurementUnit="Pixel">
    <children xmi:id="_n2Ty0Bc4EeeAqZ-GpVD0AQ" type="Region" element="_n2Ko4hc4EeeAqZ-GpVD0AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_n2Ty0xc4EeeAqZ-GpVD0AQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n2Ty1Bc4EeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n2Ty1Rc4EeeAqZ-GpVD0AQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_n2Ty1hc4EeeAqZ-GpVD0AQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_n2dj0hc4EeeAqZ-GpVD0AQ" type="Entry" element="_n2dj0Rc4EeeAqZ-GpVD0AQ">
          <children xmi:id="_n2dj1hc4EeeAqZ-GpVD0AQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_n2dj2Rc4EeeAqZ-GpVD0AQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_n2dj2hc4EeeAqZ-GpVD0AQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_n2dj2xc4EeeAqZ-GpVD0AQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_n2dj1xc4EeeAqZ-GpVD0AQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n2dj2Bc4EeeAqZ-GpVD0AQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_n2dj0xc4EeeAqZ-GpVD0AQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_n2dj1Bc4EeeAqZ-GpVD0AQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n2dj3Bc4EeeAqZ-GpVD0AQ" x="274" width="15" height="15"/>
        </children>
        <children xmi:id="_ZWNuABdaEeeAqZ-GpVD0AQ" type="State" element="_ZWL40BdaEeeAqZ-GpVD0AQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_ZWOVEBdaEeeAqZ-GpVD0AQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZWOVERdaEeeAqZ-GpVD0AQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZWOVEhdaEeeAqZ-GpVD0AQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZWOVExdaEeeAqZ-GpVD0AQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ZWOVFBdaEeeAqZ-GpVD0AQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZWOVFRdaEeeAqZ-GpVD0AQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZWO8IBdaEeeAqZ-GpVD0AQ" type="StateFigureCompartment">
            <children xmi:id="_BRdFsBgkEeee98OWuv3Xvw" type="Region" element="_ZWMf4RdaEeeAqZ-GpVD0AQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_BRdFsRgkEeee98OWuv3Xvw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFshgkEeee98OWuv3Xvw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdFsxgkEeee98OWuv3Xvw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_BRdFtBgkEeee98OWuv3Xvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_BRdFtRgkEeee98OWuv3Xvw" type="State" element="_n2dj3Rc4EeeAqZ-GpVD0AQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BRdFthgkEeee98OWuv3Xvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFtxgkEeee98OWuv3Xvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdFuBgkEeee98OWuv3Xvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdFuRgkEeee98OWuv3Xvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BRdFuhgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdFuxgkEeee98OWuv3Xvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdFvBgkEeee98OWuv3Xvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFvRgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BRdFvhgkEeee98OWuv3Xvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdFvxgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdFwBgkEeee98OWuv3Xvw" y="59" width="106" height="53"/>
                </children>
                <children xmi:id="_BRdFwRgkEeee98OWuv3Xvw" type="Entry" element="_E_yyABdbEeeAqZ-GpVD0AQ">
                  <children xmi:id="_BRdFwhgkEeee98OWuv3Xvw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_BRdFwxgkEeee98OWuv3Xvw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFxBgkEeee98OWuv3Xvw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdFxRgkEeee98OWuv3Xvw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFxhgkEeee98OWuv3Xvw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdFxxgkEeee98OWuv3Xvw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFyBgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_BRdFyRgkEeee98OWuv3Xvw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdFyhgkEeee98OWuv3Xvw" x="29" y="-1" width="15" height="15"/>
                </children>
                <children xmi:id="_BRdFyxgkEeee98OWuv3Xvw" type="State" element="_UgcnABdcEeeAqZ-GpVD0AQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BRdFzBgkEeee98OWuv3Xvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdFzRgkEeee98OWuv3Xvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdFzhgkEeee98OWuv3Xvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdFzxgkEeee98OWuv3Xvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BRdF0BgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF0RgkEeee98OWuv3Xvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdF0hgkEeee98OWuv3Xvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF0xgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BRdF1BgkEeee98OWuv3Xvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdF1RgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF1hgkEeee98OWuv3Xvw" x="425" y="59" width="112" height="53"/>
                </children>
                <children xmi:id="_BRdF1xgkEeee98OWuv3Xvw" type="State" element="_-Z23MBgHEeee98OWuv3Xvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BRdF2BgkEeee98OWuv3Xvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF2RgkEeee98OWuv3Xvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdF2hgkEeee98OWuv3Xvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdF2xgkEeee98OWuv3Xvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BRdF3BgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF3RgkEeee98OWuv3Xvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdF3hgkEeee98OWuv3Xvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF3xgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BRdF4BgkEeee98OWuv3Xvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdF4RgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF4hgkEeee98OWuv3Xvw" x="678" y="424" width="113" height="55"/>
                </children>
                <children xmi:id="_BRdF4xgkEeee98OWuv3Xvw" type="State" element="_JMhJsBgiEeee98OWuv3Xvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BRdF5BgkEeee98OWuv3Xvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF5RgkEeee98OWuv3Xvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdF5hgkEeee98OWuv3Xvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdF5xgkEeee98OWuv3Xvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BRdF6BgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF6RgkEeee98OWuv3Xvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdF6hgkEeee98OWuv3Xvw" type="StateFigureCompartment">
                    <children xmi:id="_BRdF6xgkEeee98OWuv3Xvw" type="Region" element="_JMhwwBgiEeee98OWuv3Xvw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_BRdF7BgkEeee98OWuv3Xvw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF7RgkEeee98OWuv3Xvw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdF7hgkEeee98OWuv3Xvw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_BRdF7xgkEeee98OWuv3Xvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_BRdF8BgkEeee98OWuv3Xvw" type="State" element="_yN2OYBc4EeeAqZ-GpVD0AQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_BRdF8RgkEeee98OWuv3Xvw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF8hgkEeee98OWuv3Xvw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdF8xgkEeee98OWuv3Xvw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_BRdF9BgkEeee98OWuv3Xvw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_BRdF9RgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF9hgkEeee98OWuv3Xvw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_BRdF9xgkEeee98OWuv3Xvw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF-BgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_BRdF-RgkEeee98OWuv3Xvw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdF-hgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdF-xgkEeee98OWuv3Xvw" x="63" y="42"/>
                        </children>
                        <children xmi:id="_BRdF_BgkEeee98OWuv3Xvw" type="State" element="_gDvY8Bc5EeeAqZ-GpVD0AQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_BRdF_RgkEeee98OWuv3Xvw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdF_hgkEeee98OWuv3Xvw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdF_xgkEeee98OWuv3Xvw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_BRdGABgkEeee98OWuv3Xvw" type="StateTextCompartment" collapsed="true">
                            <children xsi:type="notation:Shape" xmi:id="_BRdGARgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGAhgkEeee98OWuv3Xvw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_BRdGAxgkEeee98OWuv3Xvw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGBBgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_BRdGBRgkEeee98OWuv3Xvw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdGBhgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGBxgkEeee98OWuv3Xvw" x="124" y="224"/>
                        </children>
                        <children xmi:id="_BRdGCBgkEeee98OWuv3Xvw" type="ShallowHistory" element="_okerEBgiEeee98OWuv3Xvw">
                          <children xmi:id="_BRdGCRgkEeee98OWuv3Xvw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_BRdGChgkEeee98OWuv3Xvw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGCxgkEeee98OWuv3Xvw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdGDBgkEeee98OWuv3Xvw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGDRgkEeee98OWuv3Xvw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGDhgkEeee98OWuv3Xvw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGDxgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_BRdGEBgkEeee98OWuv3Xvw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGERgkEeee98OWuv3Xvw" x="289" y="-20"/>
                        </children>
                        <children xmi:id="_BRdGEhgkEeee98OWuv3Xvw" type="Entry" element="_zufFYBgiEeee98OWuv3Xvw">
                          <children xmi:id="_BRdGExgkEeee98OWuv3Xvw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_BRdGFBgkEeee98OWuv3Xvw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGFRgkEeee98OWuv3Xvw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdGFhgkEeee98OWuv3Xvw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGFxgkEeee98OWuv3Xvw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGGBgkEeee98OWuv3Xvw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGGRgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_BRdGGhgkEeee98OWuv3Xvw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGGxgkEeee98OWuv3Xvw" x="120" y="-14"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGHBgkEeee98OWuv3Xvw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGHRgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGHhgkEeee98OWuv3Xvw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGHxgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BRdGIBgkEeee98OWuv3Xvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdGIRgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGIhgkEeee98OWuv3Xvw" x="29" y="280" width="350" height="389"/>
                </children>
                <children xmi:id="_BRdGIxgkEeee98OWuv3Xvw" type="State" element="_-Q7JYBgiEeee98OWuv3Xvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_BRdGJBgkEeee98OWuv3Xvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGJRgkEeee98OWuv3Xvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_BRdGJhgkEeee98OWuv3Xvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdGJxgkEeee98OWuv3Xvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_BRdGKBgkEeee98OWuv3Xvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGKRgkEeee98OWuv3Xvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_BRdGKhgkEeee98OWuv3Xvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGKxgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_BRdGLBgkEeee98OWuv3Xvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BRdGLRgkEeee98OWuv3Xvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGLhgkEeee98OWuv3Xvw" x="503" y="305" width="211" height="77"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGLxgkEeee98OWuv3Xvw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BRdGMBgkEeee98OWuv3Xvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BRdGMRgkEeee98OWuv3Xvw" x="195" y="230" width="659" height="331"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZWNuARdaEeeAqZ-GpVD0AQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ZWNuAhdaEeeAqZ-GpVD0AQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZWO8IRdaEeeAqZ-GpVD0AQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZWPjMBdaEeeAqZ-GpVD0AQ" x="21" y="200" width="960" height="800"/>
        </children>
        <children xmi:id="_ioIlUBdaEeeAqZ-GpVD0AQ" type="State" element="_ioHXMBdaEeeAqZ-GpVD0AQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_ioJMYBdaEeeAqZ-GpVD0AQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ioJMYRdaEeeAqZ-GpVD0AQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ioJMYhdaEeeAqZ-GpVD0AQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ioJMYxdaEeeAqZ-GpVD0AQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ioJMZBdaEeeAqZ-GpVD0AQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ioJMZRdaEeeAqZ-GpVD0AQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ioJzcBdaEeeAqZ-GpVD0AQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ioIlURdaEeeAqZ-GpVD0AQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ioIlUhdaEeeAqZ-GpVD0AQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ioJzcRdaEeeAqZ-GpVD0AQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ioIlUxdaEeeAqZ-GpVD0AQ" x="214" y="79" width="106" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n2Ty1xc4EeeAqZ-GpVD0AQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_n2Ty0Rc4EeeAqZ-GpVD0AQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n2dj0Bc4EeeAqZ-GpVD0AQ" x="180" y="-52" width="1003" height="1040"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_n2q_Mxc4EeeAqZ-GpVD0AQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_n2q_NRc4EeeAqZ-GpVD0AQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n2q_Nhc4EeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n2q_Nxc4EeeAqZ-GpVD0AQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_n2q_OBc4EeeAqZ-GpVD0AQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n2q_ORc4EeeAqZ-GpVD0AQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_n2q_Ohc4EeeAqZ-GpVD0AQ" x="-125" y="-45" width="261" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_n2Ko4Rc4EeeAqZ-GpVD0AQ"/>
    <edges xmi:id="_n2pKABc4EeeAqZ-GpVD0AQ" type="Transition" element="_n2dj7Rc4EeeAqZ-GpVD0AQ" source="_n2dj0hc4EeeAqZ-GpVD0AQ" target="_ioIlUBdaEeeAqZ-GpVD0AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_n2q_MBc4EeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n2q_MRc4EeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n2q_Mhc4EeeAqZ-GpVD0AQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n2pKARc4EeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n2qYIBc4EeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n2pKAhc4EeeAqZ-GpVD0AQ" points="[7, 0, -4, -60]$[4, 0, -7, -60]$[4, 59, -7, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EY0RkBdbEeeAqZ-GpVD0AQ" id="(0.711864406779661,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_7AKYkRc4EeeAqZ-GpVD0AQ" type="Transition" element="_7AKYkBc4EeeAqZ-GpVD0AQ" source="_BRdFtRgkEeee98OWuv3Xvw" target="_BRdFyxgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_7AKYlRc4EeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7AKYlhc4EeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7AKYlxc4EeeAqZ-GpVD0AQ" x="13" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7AKYkhc4EeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7AKYlBc4EeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7AKYkxc4EeeAqZ-GpVD0AQ" points="[5, 2, -365, 22]$[329, 2, -41, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__H0KcBc4EeeAqZ-GpVD0AQ" id="(0.9523809523809523,0.4528301886792453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gZ5hQBdcEeeAqZ-GpVD0AQ" id="(0.38392857142857145,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_cO55wBdXEeeAqZ-GpVD0AQ" type="Transition" element="_cO2PYBdXEeeAqZ-GpVD0AQ" source="_BRdF_BgkEeee98OWuv3Xvw" target="_BRdF8BgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cO6g0BdXEeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cO6g0RdXEeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cO6g0hdXEeeAqZ-GpVD0AQ" x="18" y="50"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cO55wRdXEeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cO55wxdXEeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cO55whdXEeeAqZ-GpVD0AQ" points="[46, 13, 95, 186]$[58, 13, 107, 186]$[58, -145, 107, 28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cO9kIBdXEeeAqZ-GpVD0AQ" id="(0.2222222222222222,0.2830188679245283)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cO9kIRdXEeeAqZ-GpVD0AQ" id="(0.203125,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_P0E7UBdYEeeAqZ-GpVD0AQ" type="Transition" element="_P0DGIBdYEeeAqZ-GpVD0AQ" source="_BRdF8BgkEeee98OWuv3Xvw" target="_BRdF_BgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_P0E7VBdYEeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_P0E7VRdYEeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_P0E7VhdYEeeAqZ-GpVD0AQ" x="-30" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_P0E7URdYEeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_P0E7UxdYEeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_P0E7UhdYEeeAqZ-GpVD0AQ" points="[-53, 2, -72, -122]$[-53, 149, -72, 25]$[-13, 149, -32, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9oKdIBdaEeeAqZ-GpVD0AQ" id="(0.35353535353535354,0.9661016949152542)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_P0HXkBdYEeeAqZ-GpVD0AQ" id="(0.5555555555555556,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_nmKlkBdaEeeAqZ-GpVD0AQ" type="Transition" element="_nmJXcBdaEeeAqZ-GpVD0AQ" source="_ZWNuABdaEeeAqZ-GpVD0AQ" target="_ioIlUBdaEeeAqZ-GpVD0AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_nmKllBdaEeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nmKllRdaEeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nmLMoBdaEeeAqZ-GpVD0AQ" x="13" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nmKlkRdaEeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nmKlkxdaEeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nmKlkhdaEeeAqZ-GpVD0AQ" points="[-361, -34, 127, 121]$[-361, -155, 127, 0]$[-410, -155, 78, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nmmqcBdaEeeAqZ-GpVD0AQ" id="(0.9357976653696498,0.09)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nmnRgBdaEeeAqZ-GpVD0AQ" id="(0.23728813559322035,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_JX1wUBdbEeeAqZ-GpVD0AQ" type="Transition" element="_JXz7IBdbEeeAqZ-GpVD0AQ" source="_BRdFwRgkEeee98OWuv3Xvw" target="_BRdFtRgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JX1wVBdbEeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JX1wVRdbEeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JX1wVhdbEeeAqZ-GpVD0AQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JX1wURdbEeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JX1wUxdbEeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JX1wUhdbEeeAqZ-GpVD0AQ" points="[5, 6, -9, -56]$[5, 52, -9, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JYLukBdbEeeAqZ-GpVD0AQ" id="(0.36231884057971014,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_alBOABdbEeeAqZ-GpVD0AQ" type="Transition" element="_ak__4BdbEeeAqZ-GpVD0AQ" source="_ioIlUBdaEeeAqZ-GpVD0AQ" target="_ZWNuABdaEeeAqZ-GpVD0AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_alB1ERdbEeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_alB1EhdbEeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_alB1ExdbEeeAqZ-GpVD0AQ" x="-2" y="49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_alBOARdbEeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_alB1EBdbEeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_alBOAhdbEeeAqZ-GpVD0AQ" points="[-27, 16, -348, -178]$[-146, 16, -467, -178]$[-146, 194, -467, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LjZvEBgCEeee98OWuv3Xvw" id="(0.018867924528301886,0.41509433962264153)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_alZBcBdbEeeAqZ-GpVD0AQ" id="(0.9377431906614786,0.0)"/>
    </edges>
    <edges xmi:id="__xkuwBdcEeeAqZ-GpVD0AQ" type="Transition" element="__xjgoBdcEeeAqZ-GpVD0AQ" source="_BRdFyxgkEeee98OWuv3Xvw" target="_BRdF4xgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="__xkuxBdcEeeAqZ-GpVD0AQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__xkuxRdcEeeAqZ-GpVD0AQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__xkuxhdcEeeAqZ-GpVD0AQ" x="-50" y="-152"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__xkuwRdcEeeAqZ-GpVD0AQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__xkuwxdcEeeAqZ-GpVD0AQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__xkuwhdcEeeAqZ-GpVD0AQ" points="[-79, 29, 239, -128]$[-79, 158, 239, 1]$[-136, 158, 182, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__x-XYBdcEeeAqZ-GpVD0AQ" id="(0.8839285714285714,0.41509433962264153)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__x-XYRdcEeeAqZ-GpVD0AQ" id="(0.5625,0.038560411311053984)"/>
    </edges>
    <edges xmi:id="_HsU0ARf7Eeee98OWuv3Xvw" type="Transition" element="_HsU0ABf7Eeee98OWuv3Xvw" source="_BRdFtRgkEeee98OWuv3Xvw" target="_BRdF4xgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_HsU0BRf7Eeee98OWuv3Xvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HsU0Bhf7Eeee98OWuv3Xvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HsU0Bxf7Eeee98OWuv3Xvw" x="42" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HsU0Ahf7Eeee98OWuv3Xvw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HsU0BBf7Eeee98OWuv3Xvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HsU0Axf7Eeee98OWuv3Xvw" points="[7, 37, -22, -175]$[113, 37, 84, -175]$[113, 212, 84, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HsfMEBf7Eeee98OWuv3Xvw" id="(0.9339622641509434,0.18867924528301888)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HsfMERf7Eeee98OWuv3Xvw" id="(0.185546875,0.0)"/>
    </edges>
    <edges xmi:id="_Bc_RABgIEeee98OWuv3Xvw" type="Transition" element="_Bc9b0BgIEeee98OWuv3Xvw" source="_BRdF8BgkEeee98OWuv3Xvw" target="_BRdF1xgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Bc_RBBgIEeee98OWuv3Xvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Bc_RBRgIEeee98OWuv3Xvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Bc_RBhgIEeee98OWuv3Xvw" x="19" y="25"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Bc_RARgIEeee98OWuv3Xvw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Bc_RAxgIEeee98OWuv3Xvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Bc_RAhgIEeee98OWuv3Xvw" points="[5, 18, -194, -23]$[199, 41, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BdBGMBgIEeee98OWuv3Xvw" id="(0.9141414141414141,0.6779661016949152)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BdBGMRgIEeee98OWuv3Xvw" id="(0.0,0.0)"/>
    </edges>
    <edges xmi:id="_0ivz4RgiEeee98OWuv3Xvw" type="Transition" element="_0ivz4BgiEeee98OWuv3Xvw" source="_BRdGEhgkEeee98OWuv3Xvw" target="_BRdF8BgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_0ivz5RgiEeee98OWuv3Xvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0ivz5hgiEeee98OWuv3Xvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0ivz5xgiEeee98OWuv3Xvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0ivz4hgiEeee98OWuv3Xvw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0ivz5BgiEeee98OWuv3Xvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0ivz4xgiEeee98OWuv3Xvw" points="[0, 7, 4, -45]$[-2, 49, 2, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0ivz6BgiEeee98OWuv3Xvw" id="(0.31313131313131315,0.06779661016949153)"/>
    </edges>
    <edges xmi:id="_Bcu-ERgjEeee98OWuv3Xvw" type="Transition" element="_Bcu-EBgjEeee98OWuv3Xvw" source="_BRdF4xgkEeee98OWuv3Xvw" target="_BRdGIxgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Bcu-FRgjEeee98OWuv3Xvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Bcu-FhgjEeee98OWuv3Xvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Bcu-FxgjEeee98OWuv3Xvw" x="6" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Bcu-EhgjEeee98OWuv3Xvw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Bcu-FBgjEeee98OWuv3Xvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Bcu-ExgjEeee98OWuv3Xvw" points="[0, 21, -175, -8]$[129, 21, -46, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Bcu-GBgjEeee98OWuv3Xvw" id="(1.0,0.08483290488431877)"/>
    </edges>
    <edges xmi:id="_DxcysBgjEeee98OWuv3Xvw" type="Transition" element="_DxbkkBgjEeee98OWuv3Xvw" source="_BRdGIxgkEeee98OWuv3Xvw" target="_BRdGCBgkEeee98OWuv3Xvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_DxcytBgjEeee98OWuv3Xvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DxcytRgjEeee98OWuv3Xvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DxcythgjEeee98OWuv3Xvw" x="-9" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DxcysRgjEeee98OWuv3Xvw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DxcysxgjEeee98OWuv3Xvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DxcyshgjEeee98OWuv3Xvw" points="[-7, -1, 136, 1]$[-150, 1, -7, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DxcytxgjEeee98OWuv3Xvw" id="(0.11764705882352941,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_kDfH8BgpEee24vnz-7pKpw" type="Transition" element="_kDV-ABgpEee24vnz-7pKpw" source="_BRdF1xgkEeee98OWuv3Xvw" target="_ZWNuABdaEeeAqZ-GpVD0AQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_kDfH9BgpEee24vnz-7pKpw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kDfH9RgpEee24vnz-7pKpw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kDfH9hgpEee24vnz-7pKpw" x="8" y="38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kDfH8RgpEee24vnz-7pKpw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kDfH8xgpEee24vnz-7pKpw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kDfH8hgpEee24vnz-7pKpw" points="[-24, 25, -224, 155]$[-24, 128, -224, 258]$[208, 128, 8, 258]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kDsjUBgpEee24vnz-7pKpw" id="(0.9916666666666667,0.485)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
